body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0;
    padding: 0;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 3000px;
}

.form-group {
    position: relative;
    margin-bottom: 10px;

}

#name, #email, #password{
    font-size: 16px;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    color: black;
    border: 1px ;
    background-color: #eeeeee;
    box-shadow: inset 0px 0px 2px #AAA;
    padding-left: 85px;
}

.fa-envelope{
    position: absolute;
    top: 14%;
    left: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-right: 1px silver solid;
}

.fa-key{
    position: absolute;
    top: 28%;
    left: 2.5%;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px silver solid;

}

.fa-user-large{
    position: absolute;
    top: 12%;
    left: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-right: 1px silver solid;
}

#form3{
    width: 700px;
    height: 300px;
    margin: auto;

    margin-top: 30px;
    margin-bottom: 30px;
    /*border: 10px solid lightgray;*/
}

.error-message {
    color: red;
    display: none;
}