button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.number-button:hover {
    background-color: #2980b9;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}
